.appartment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  span {
    font-size: 16px;
    p {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1.5px;
    }
  }
}
