.apt-sider {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .contacts {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    span {
      font-size: 20px;
    }
    .phone-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border: 1px solid black;
      border-radius: 50%;
      span {
        font-size: 24px;
      }
    }
    .phone-text-info {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
  }
  .main-image {
    height: 210px;
  }
  .secondary-image {
    height: 55px;
  }
}

@media (max-width: 1200px) {
  .apt-sider {
    .main-image {
      height: 100%;
    }
    .secondary-image {
      height: 100%;
    }
  }
}
