.layout {
  padding: 0 15px 0 15px;
  width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main {
  margin-top: 50px;
  margin-bottom: 120px;
}
@media (max-width: 1000px) {
  .layout {
    width: 100%;
  }
}
